<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.xmh.mapper.OrderMapper">
  	<resultMap type="com.xmh.entity.SonOrder" id="BaseResultMap">
			<!-- column:数据库字段		property:实体类实行字段 -->
			<id column="odId" property="odId"/>
			<result column="oId" property="oId"/> 
			<result column="mealId" property="mealId"/> 
			<result column="mealPrice" property="mealPrice"/>
			<result column="mealCount" property="mealCount"/>
			<association property="foodInfo" javaType="com.xmh.entity.FoodInfo">
				<id column="mealId" property="mealId"/>
				<result column="mealName" property="mealName"/> 
				<result column="mealPrice" property="mealPrice"/> 
				<result column="mealSeriesId" property="mealSeriesId"/> 
				<association property="cuisine" javaType="com.xmh.entity.Cuisine">
					<id column="seriesId" property="seriesId"/>
					<result column="seriesName" property="seriesName"/> 
				</association>
			</association>
		</resultMap> 
		<resultMap type="com.xmh.entity.MainOrder" id="AdminForOrderInfo">
			<!-- column:数据库字段		property:实体类实行字段 -->
			<id column="oid" property="oid"/>
			<result column="userId" property="userId"/>
			<result column="orderTime" property="orderTime"/>
			<result column="orderState" property="orderState"/>
			<result column="orderPrice" property="orderPrice"/>
			<association property="user" javaType="com.xmh.entity.User">
				<id column="id" property="id"/>
				<result column="trueName" property="trueName"/> 
				<result column="email" property="email"/> 
				<result column="phone" property="phone"/> 
				<result column="address" property="address"/> 
			</association>
			<association property="sonOrders" javaType="com.xmh.entity.SonOrder">
				<id column="odId" property="odId"/>
				<result column="oId" property="oId"/> 
				<result column="mealId" property="mealId"/> 
				<result column="mealPrice" property="mealPrice"/>
				<result column="mealCount" property="mealCount"/>
				<association property="foodInfo" javaType="com.xmh.entity.FoodInfo">
					<id column="mealId" property="mealId"/>
					<result column="mealName" property="mealName"/> 
					<result column="mealPrice" property="mealPrice"/> 
					<result column="mealSeriesId" property="mealSeriesId"/> 
					<association property="cuisine" javaType="com.xmh.entity.Cuisine">
						<id column="seriesId" property="seriesId"/>
						<result column="seriesName" property="seriesName"/> 
					</association>
				</association>
			</association>
		</resultMap> 
	<!-- 创建主订单 -->
 	<insert id="createMainOrder" keyColumn="oid" keyProperty="oid" useGeneratedKeys="true">
 		insert into mainorder(userId,orderTime,orderState,orderPrice) 
 		values(#{userId},#{orderTime},#{orderState},#{orderPrice})
 	</insert>
 	<!-- 创建子订单 -->
 	<insert id="createSonOrder" >
 		insert into sonorder(oId,mealId,mealPrice,mealCount) values 
 		<foreach collection="sonOrders" item="sonOrders" separator=",">
 			(#{sonOrders.oId},#{sonOrders.mealId},#{sonOrders.mealPrice},#{sonOrders.mealCount})
 		</foreach>
 	</insert>
 	<!-- 查找所有主订单 -->
 	<select id="getAllOrdersByUserId" resultType="com.xmh.entity.MainOrder">
 		select * from mainorder where userId = #{userId}
 	</select>
 	<!-- 通过主订单号查找所有子订单 -->
 	<select id="getSonOrderByOid" resultMap="BaseResultMap">
 		select son.*,a.* from 
 		(select fo.*,cu.* from foodinfo fo inner join cuisine cu on fo.mealSeriesId=cu.seriesId) a 
 		inner join sonorder son on son.mealId = a.mealId where oId = #{oId}
 	</select>
 	<!-- 用户收获完成订单 -->
 	<update id="orders_handle">
 		update mainorder set orderState = #{orderState} where oid = #{oid}
 	</update>
 	<!-- 管理员查询所有主订单 -->
 	<select id="getAllOrders" resultType="com.xmh.entity.MainOrder">
 		select * from mainorder
 	</select>
 	<!-- 查找订单的用户信息 -->
 	<select id="getUserInfoByorders" resultType="com.xmh.entity.User">
 		select main.userId,user.* from mainorder main inner join userinfo user on main.userId = user.id 
 		where main.oid = #{oid} 
 	</select>
 	<!-- 管理员通过主订单ID查询子订单 -->
 	<select id="getSonOrdersbyoIdForAdmin" resultMap="AdminForOrderInfo">
 		
 	</select>
 	<!-- 修改订单状态 -->
 	<update id="changeOrderState">
 		update mainorder set orderState = #{orderState} where oid= #{oid}
 	</update>
 </mapper>
 	
 